<div data-animation="default" data-collapse="medium" data-duration="400" data-easing="ease" data-easing2="ease"
  data-doc-height="1" role="banner" class="navbar-no-shadow-container w-nav">
  <div class="container-regular">
    <div class="navbar-wrapper">
      <a href="/" class="navbar-brand w-nav-brand"><img src="/images/LOERINCZ_logo_transparent_blue.webp"
          loading="eager" width="200" sizes="(max-width: 479px) 69vw, 200px" alt="Loerincz Engineering" id="header-logo"
          srcset="/images/LOERINCZ_logo_transparent_blue-p-500.webp 500w, /images/LOERINCZ_logo_transparent_blue-p-800.webp 800w, /images/LOERINCZ_logo_transparent_blue-p-1080.webp 1080w, /images/LOERINCZ_logo_transparent_blue-p-1600.webp 1600w, /images/LOERINCZ_logo_transparent_blue-p-2000.webp 2000w, /images/LOERINCZ_logo_transparent_blue-p-2600.webp 2600w, /images/LOERINCZ_logo_transparent_blue.webp 3500w"
          class="image-3"></a>
      <article role="navigation" class="nav-menu-wrapper w-nav-menu">
        <ul role="list" class="nav-menu w-list-unstyled">
          <li class="list-item-7">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="list-item-8">
            <a href="/about.html" class="nav-link">About</a>
          </li>
          <li class="list-item-9">
            <a href="/#projects" class="nav-link">Projects</a>
          </li>
          <li class="list-item-10">
            <a href="/blog/" class="nav-link{% if page.url contains '/blog' %} w--current{% endif %}"{% if page.url contains '/blog' %} aria-current="page"{% endif %}>Blog</a>
          </li>
          <li class="list-item-11">
            <a href="/#contact" class="nav-link">Contact</a>
          </li>
          <li class="mobile-margin-top-10">
            <div class="nav-button-wrapper">
              <a href="/#contact" class="button-primary w-button">Get IN TOUCH</a>
            </div>
          </li>
        </ul>
      </article>
      <div class="menu-button w-nav-button">
        <div class="w-icon-nav-menu"></div>
      </div>
    </div>
  </div>
</div>
